In [18]:
#import the library used to query a website
import urllib
import urllib.request
#import the Beautiful soup functions to parse the data returned from the website
from bs4 import BeautifulSoup
#import pandas to convert list to data frame
import pandas as pd

#wiki = "http://alize2.finances.gouv.fr/communes/eneuro/detail.php?icom=056&dep=075&type=BPS&param=5&exercice=2013"

#Cell Data we are interested in
columnNames = ["TOTAL DES PRODUITS DE FONCTIONNEMENT = A", "TOTAL DES CHARGES DE FONCTIONNEMENT = B", "TOTAL DES RESSOURCES D'INVESTISSEMENT = C", "TOTAL DES EMPLOIS D'INVESTISSEMENT = D"]


def getSoupFromURL(url):
    #Query the website and return the html to the variable 'page'
    page = urllib.request.urlopen(url)

    #Parse the html in the 'page' variable, and store it in Beautiful Soup format
    soup = BeautifulSoup(page)
    return soup

def getWantedData(soup):
    A = []
    B = []
    C = []
    D = []
    for paragraph in soup.find_all(class_='bleu'):   
        cells = paragraph.findAll('td', class_='libellepetit')
        montant=paragraph.findAll('td', class_='montantpetit')
        if(len(montant)>0 and len(cells)>0):
            #print(montant[0].find(text=True))
            #A.append(montant[0].find(text=True))
            #C.append(montant[1].find(text=True))
            #D.append(montant[2].find(text=True))
            #print(cells[0].find(text=True))
            #B.append(cells[0].find(text=True))
            if(cells[0].find(text = True) in columnNames):
                #print(cells[0].find(text = True))
                A.append(montant[0].find(text=True))
                C.append(montant[1].find(text=True))
                D.append(montant[2].find(text=True))
                B.append(cells[0].find(text=True))
    return [A,B,C,D]
                

def convertDataIntoDF(liste):
    A = liste[0]
    B = liste[1]
    C = liste[2]
    D = liste[3]
    df=pd.DataFrame(B,columns = ['OPERATIONS'])
    df["En milliers d'Euros"] = A
    df['Euros par habitant'] = C
    df['Moyenne de la strate'] = D
    return df

def extractDataFromWebPage(year):
    #specify the url
    years = str(year)
    url = "http://alize2.finances.gouv.fr/communes/eneuro/detail.php?icom=056&dep=075&type=BPS&param=5&exercice="+years
    soup = getSoupFromURL(url)
    data = getWantedData(soup)
    df = convertDataIntoDF(data)
    return df

def concatenateData(yearBegin, yearEnd):
    df = extractDataFromWebPage(yearBegin)
    df['Year'] = yearBegin
    if yearEnd > yearBegin:
        for annee in range(yearBegin + 1, yearEnd+1):
            new_df = extractDataFromWebPage(annee)
            new_df['Year'] = annee
            df = pd.concat([df, new_df])
    return df

#Choose the range of the years you want to see the data
concatenateData(2010,2015)

/home/maxence/anaconda3/lib/python3.6/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /home/maxence/anaconda3/lib/python3.6/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

,OPERATIONS,En milliers d'Euros,Euros par habitant,Moyenne de la strate,Year
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 425 200,2 449,2 449,2010
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,4 964 789,2 241,2 241,2010
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 479 145,1 119,1 119,2010
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,2 801 912,1 265,1 265,2010
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 686 279,2 546,2 546,2011
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,5 197 859,2 327,2 327,2011
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 822 569,1 264,1 264,2011
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,2 832 512,1 268,1 268,2011
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 218 325,2 311,2 311,2012
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,4 820 358,2 135,2 135,2012
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 450 566,1 085,1 085,2012
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,2 389 281,1 058,1 058,2012
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 234 622,2 308,2 308,2013
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,5 070 274,2 235,2 235,2013
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 624 710,1 157,1 157,2013
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,2 376 591,1 048,1 048,2013
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 379 714,2 365,2 365,2014
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,5 217 973,2 294,2 294,2014
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 426 137,1 066,1 066,2014
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,2 385 070,1 048,1 048,2014
0,TOTAL DES PRODUITS DE FONCTIONNEMENT = A,5 261 995,2 322,2 322,2015
1,TOTAL DES CHARGES DE FONCTIONNEMENT = B,5 333 785,2 354,2 354,2015
2,TOTAL DES RESSOURCES D'INVESTISSEMENT = C,2 071 831,914,914,2015
3,TOTAL DES EMPLOIS D'INVESTISSEMENT = D,1 784 950,788,788,2015